@tailwind base;
@tailwind components;
@tailwind utilities;

/*===========================================================================
	FONT
============================================================================*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* @import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap); */

@font-face {
  font-family: "Noto Sans KR2";
  src: url(./static/fonts/NotoSansKR.eot);
  src: url(./static/fonts/NotoSansKR.eot?#iefix) format("embedded-opentype"),
    url(./static/fonts/NotoSansKR.otf) format("opentype");
}

/*===========================================================================
	INIT
============================================================================*/
* {
  -webkit-tap-highlight-color: transparent;
  font-family: "Noto Sans KR", "Noto Sans KR2";
}

/*===========================================================================
	TYPO
============================================================================*/
._title-lg {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
._title-md {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
._title-sm {
  color: black;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}
._text-lg {
  font-size: 16px;
  line-height: 24px;
}
._text-md {
  font-size: 14px;
  line-height: 21px;
}
._text-sm {
  font-size: 12px;
  line-height: 18px;
}

._label-lg {
  font-size: 18px;
  line-height: 26px;
}
._label-md {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
._label-sm {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}
._label-disabled {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}
